<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="style.css")

body.app
  title Dot Inversion
  h1.intro Dot Inversion

  .box
    .i

  blockquote.info
    | inspired from 
    a(href="https://dribbble.com/shots/1927104-Dot-Inversion") Dot Inversion
