 body {
           color: #466062;
       }
       .container {
           width: 350px;
           margin: 0 auto;
           border-width: 7px;
           border-style: solid;
           border-color: #56C5B2;
           padding-bottom: 25px;
           text-align: center;
           position: relative;
           background-color: #F5FFF4;
       }
       .item {
           display: block;
           font-weight: bold;
       }
       .prop {
           float: left;
           
           position: relative;
       }
       .delete {
           float: right;
           width: 27px;
           width: 30px;
       }
       .feather {
           padding-top: 40px;
           border-bottom: 2px solid #EDF2EE;
       }

       .properImg {
           width: 95px;
           height: 104px;
       }

       .propNum {
           background-color: #E5F0E2;
           padding: 1px 4px;
           font-weight: bold;
           position: absolute;
           top: 75px;
           left: 15px;
           border-radius: 20% 20% 20% 20% / 30% 30% 30% 30%;
       }
       .description {
           text-align: justify;
           width: 250px;
           box-sizing: border-box;
           
       }
       .propName {
           /*float: right;*/
           width: 62%;
           margin-bottom: 0px;
           font-size: 20px;
           
       }
       .properties {
           background-color: #F5FFF4;
           text-align: left;
       }

       .clearfix {
           clear: both;
       }
       
       .closeBtn {
           width: 68px;
           position: absolute;
           position: absolute;
           bottom: 35px;
           left: calc(50% - 34px);
       }