<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Pokédex
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel="stylesheet", href="pokedex.css")
body
  -
    var states = 123;

  .app
  .dialog(style="--dialog-bgc: #66a; --bgi: url('https://rawgit.com/Superviral/Pokemon-GO-App-Assets-and-Images/master/App%20Converted%20Images/Professor.png')")
    article.intro
      .intro__item
        img(src="https://rawgit.com/Superviral/Pokemon-GO-App-Assets-and-Images/master/App%20Converted%20Images/pokestop_near.png")
      .intro__content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi numquam, faci!
