.phone
  .header
    h1 plus expanded

  .view
    .v-frame
      .p(style="background-image: url(http://www.tokyo-koryaku.com/shop/upload_images/CS0054-01_main_3.jpg)")
      .p(style="background-image: url(http://japan-ryu.com/wp-content/uploads/2016/03/img_00396_main.jpg)")
      .p(style="background-image: url(http://pic.pimg.tw/hyli01/1392807402-1252239450_m.jpg)")
  .window
  .feature-set
    .btn
      img(src='https://image.flaticon.com/icons/svg/478/478514.svg')
    .btn
      img(src="https://image.flaticon.com/icons/svg/478/478519.svg")
    .btn
      img(src="https://image.flaticon.com/icons/png/512/508/508214.png")
  .btns-wrapper
    .feature.house
      i.fa.fa-home
    .feature.magnification
      i.fa.fa-search
    .feature.plus
    .feature.bell
      i.fa.fa-bell-o
    .feature.user
      i.fa.fa-user-o