<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="style.css")

body.app
  title [CSS] Polygon Loader
  h1.intro [CSS] Polygon Loader

  .box
    .loader

  blockquote.info
    | inspired from 
    a(href="http://artandspirituality.tumblr.com/post/139076167333") #sacred geometry
