#app
  .app__top_block
      img(src='http://www.mcdonalds.com.hk/content/dam/hongkong/ch/food/menu/093/McDonalds-Fries-093-hero.png')
  
  .app__bottom_block
    .bottom_block__form
      .from__selection
         each val in [1, 2, 3, 4]
          .selection=val
      .btn__submit submit
    
#inspired 
  a(href="https://dribbble.com/shots/3562574-Rate-your-Experience") inspired by Saptarshi Prakash
  