h1.tema Two Squares / Four Triangles

p.src inspired from 
 a(href="https://dribbble.com/shots/3807497-Two-squares-four-triangles" target="_blank") Two squares / four triangles
.outer-square
  .t
  .t
  .sq
    .tt
    .tt