doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./lib/animate.css")
    link(rel="stylesheet", href="./lib/reset.css")
    link(rel="stylesheet" href="./main.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="http://matthew.wagerfield.com/parallax/deploy/jquery.parallax.js")
    script(src="index.js")
  body
    != yield