$c-white: #fff;
$c-black: #000;

$grid-gap: 2%;
$scale-ratio: ((100% - $grid-gap) / 2 - $grid-gap) / (100% - $grid-gap);
$t-dur: .3s;

$debug: true;
$debug: false;

@mixin fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wall {
  overflow: hidden;
}

.tileGroup {
  --gap: $grid-gap / 2;
  position: relative;
  float: left;
  width: (100% - $grid-gap) / 2;
  margin-bottom: $grid-gap;

  &:nth-of-type(odd) { margin-right: var(--gap); }
  &:nth-of-type(even) { margin-left: var(--gap); }

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  @media (max-width: 32em) {
    --gap: 0;
    width: 100%;

    &::before {
      display: none;
    }
  }

  @if $debug == true {
    box-shadow: inset 0 0 0 3px red;
    opacity: .1;
    &:nth-of-type(1) {
      opacity: 1;
      transform: none;
    }
  }
}

.tile {
  @include fill;
  z-index: 0;
  transform: scale($scale-ratio);
  transition-property: transform, z-index;
  transition-duration: $t-dur;
  transition-delay: $t-dur;
  transition-timing-function: ease, step-end;

  &:active,
  &.is-active {
    z-index: 1;
    transform: none;
    transition-delay: 0s;
    transition-timing-function: ease, step-start;
  }

  &:nth-of-type(1) {transform-origin: 0% 0%; }
  &:nth-of-type(2) {transform-origin: 100% 0%; }
  &:nth-of-type(3) {transform-origin: 0% 100%; }
  &:nth-of-type(4) {transform-origin: 100% 100%; }

  @media (max-width: 32em) {
    --mobile-h: 50vw;
    --mobile-w: 50vw;

    position: relative;
    display: flex;
    height: var(--mobile-h);
    margin-bottom: $grid-gap * 2;
    transform: none;
  }

  @media (max-width: 25em) {
    display: block;
    --mobile-h: unset;
    --mobile-w: 100vw;
  }

  @if $debug == true {
    opacity: .1;
    &:nth-of-type(4) {
      opacity: 1;
      transform: none;
    }
  }
}

.article__cover {
  @include fill;
  z-index: 1;
  background: no-repeat 100% 50% / cover;

  @media (max-width: 32em) {
    position: relative;
    width: var(--mobile-w);
    height: var(--mobile-h);

    .tile:nth-of-type(even) & {
      order: 1;
    }
  }

  @media (max-width: 25em) {
    --mobile-h: 70vw;
  }
}

.article__info {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100% * (100% + $grid-gap) / (100% - $grid-gap);
  padding: 100% * 2 * $grid-gap / (100% - $grid-gap);
  overflow: auto;
  background-color: #eee;
  font: normal 1em/1.6 "Redacted Script Bold";
  color: lighten($c-black, 50%);
  opacity: 0;
  transform: translateX(-100%);
  transition: transform $t-dur $t-dur/3, opacity $t-dur;
  transition-delay: 0s;

  .tileGroup:nth-of-type(even) & {
    left: unset;
    right: 100%;
    transform: translateX(100%);
  }

  @media (max-width: 32em) {
    &.article__info.article__info {
      position: static;
      left: 50%;
      right: unset;
      width: var(--mobile-w);
      height: var(--mobile-h);
      transform: none;
      opacity: unset;
      font-size: .9em;
      color: lighten($c-black, 60%);
    }
  }

  @media (max-width: 25em) {
    width: 100%;
  }

  .tile:active &,
  .tile.is-active & {
    opacity: 1;
    transform: none;
    transition-delay: $t-dur;
  }
}

.article__title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.5em;
}

.article__desc {
  margin-top: 0;
  color: lighten($c-black, 65%);
}

.workspace {
  width: 40rem;
  max-width: 100%;
  margin: 0 auto;
}

/// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 1.4;
  background-color: $c-white;
}

.intro {
  width: 90%;
  max-width: 50rem;
  padding-top: .5em;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  text-align: center;
  font-family: serif;

  small {
    display: block;
    text-align: right;
    opacity: .3;
    font-style: italic;
    text-transform: none;
    border-top: 1px dashed rgba(#000, .75);
  }
}

.info {
  margin: auto 0 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .75;

  a {
      color: inherit;
  }
}
