$size: 3vmin;
$count: 16;
$duration: .3s;
$item-width: 5em;
$gap: .5em;

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background: #ec594e;
  font-size: $size;
}

input[type="radio"] {
  display: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 4 * $item-width + 8 * $gap;
  padding: .75 * $item-width;
  background: white;
}

.card {
  float: left;
  position: relative;
  width: $item-width;
  height: $item-width;
  margin: $gap;
  z-index: 4;
  transition: all $duration ease-in-out $duration, z-index 2 * $duration step-end;
}

$bigger: 2 * $item-width + 2 * $gap;

@for $i from 1 through $count {
  $top: -(floor(($i - 1) / 4) * ($item-width + $gap * 2));
  $left: -((($i - 1) % 4) * ($item-width + $gap * 2));

  .container input:nth-of-type(#{$i}):checked + .card {
    z-index: 99;
    transition: z-index $duration linear;
    transition: all $duration linear;
    transform: translate($left, $top);

    & .photo {
      width: $bigger;
      height: $bigger;
      z-index: 9;
      pointer-events: none;
      transition: all $duration ease-in-out;
    }

    & .info {
      position: absolute;
      width: $bigger + 2 * $gap;
      height: $bigger;
      left: $bigger;
      top: 0;
      opacity: 1;
      transition: width $duration ease-in-out, height $duration ease-in-out, left $duration ease-in-out $duration, opacity $duration ease-in-out $duration;
    }
  }
}

.photo, .info {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: $item-width;
  height: $item-width;
}

@for $i from 1 through $count {
  .container input:nth-of-type(#{$i}) + .card {
    background: adjust-hue(red, ($i / $count) * 360);

    .photo {
      background: adjust-hue(red, ($i / $count) * 360);
    }
  }
}

.photo {
  cursor: pointer;
  z-index: 3;
  transition: all $duration ease-in-out $duration;
}

.info {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: #e5e6e7;
  transition: width $duration ease-in-out $duration, height $duration ease-in-out $duration, left $duration ease-in-out, opacity $duration ease-in-out;
}

.cancel {
  position: absolute;
  top: .4em;
  right: .4em;
  width: 1em;
  height: 1em;
  cursor: pointer;
  text-align: center;

  span {
    position: relative;
    top: -.25em;
    font-size: .8em;
  }
}

