svg(style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    symbol#icon-chevron-left(viewbox='0 0 20 20')
      title chevron-left
      path(d='M13.488 2.2c0.634 0.62 0.684 1.484 0 2.242l-5.33 5.559 5.33 5.559c0.684 0.758 0.634 1.623 0 2.239-0.633 0.62-1.703 0.58-2.297 0-0.595-0.577-6.403-6.678-6.403-6.678-0.317-0.309-0.477-0.714-0.477-1.119s0.159-0.811 0.477-1.122c0 0 5.809-6.098 6.403-6.678 0.595-0.582 1.664-0.62 2.297 0z')
    symbol#icon-controller-jump-to-start(viewbox='0 0 20 20')
      title controller-jump-to-start
      path(d='M17.025 2.309l-10.204 7.011c0 0-0.395 0.285-0.395 0.681s0.395 0.679 0.395 0.679l10.204 7.014c0.81 0.538 1.475 0.14 1.475-0.887v-13.613c0-1.030-0.664-1.428-1.475-0.885zM4.333 1.5h-1.417c-0.783 0-1.417 0.068-1.417 0.85v15.3c0 0.782 0.633 0.85 1.417 0.85h1.417c0.783 0 1.417-0.068 1.417-0.85v-15.3c0-0.782-0.633-0.85-1.417-0.85z')
    symbol#icon-controller-next(viewbox='0 0 20 20')
      title controller-next
      path(d='M13.179 9.32l-10.204-7.011c-0.81-0.543-1.475-0.144-1.475 0.885v13.613c0 1.027 0.664 1.425 1.475 0.885l10.204-7.014c0 0 0.395-0.282 0.395-0.677 0-0.397-0.395-0.681-0.395-0.681zM15.667 1.5h1.417c0.783 0 1.417 0.068 1.417 0.85v15.3c0 0.782-0.633 0.85-1.417 0.85h-1.417c-0.783 0-1.417-0.068-1.417-0.85v-15.3c0-0.782 0.633-0.85 1.417-0.85z')
    symbol#icon-controller-paus(viewbox='0 0 20 20')
      title controller-paus
      path(d='M16.071 1.5h-2.429c-0.672 0-1.214 0.058-1.214 0.729v15.543c0 0.67 0.543 0.729 1.214 0.729h2.429c0.672 0 1.214-0.058 1.214-0.729v-15.543c0-0.67-0.543-0.729-1.214-0.729zM6.357 1.5h-2.429c-0.672 0-1.214 0.058-1.214 0.729v15.543c0 0.67 0.543 0.729 1.214 0.729h2.429c0.672 0 1.214-0.058 1.214-0.729v-15.543c0-0.67-0.543-0.729-1.214-0.729z')
    symbol#icon-controller-play(viewbox='0 0 20 20')
      title controller-play
      path(d='M17.008 10.001c0 0.419-0.427 0.72-0.427 0.72l-11.998 7.432c-0.875 0.573-1.589 0.149-1.589-0.938v-14.431c0-1.089 0.715-1.511 1.591-0.939l11.998 7.435c-0.001 0 0.426 0.301 0.426 0.72z')
    symbol#icon-heart-outlined(viewbox='0 0 20 20')
      title heart-outlined
      path(d='M16.927 4.37c-1.611-1.479-4.222-1.479-5.833 0l-1.093 1.003-1.094-1.003c-1.611-1.479-4.222-1.479-5.832 0-1.812 1.663-1.812 4.354 0 6.016l6.927 6.357 6.927-6.357c1.811-1.663 1.811-4.354 0-6.016zM15.9 9.398l-5.9 5.506-5.901-5.506c-0.594-0.546-0.825-1.259-0.825-2.017s0.133-1.381 0.728-1.926c0.525-0.483 1.231-0.749 1.987-0.749s1.461 0.459 1.987 0.942l2.023 1.758 2.022-1.759c0.526-0.484 1.231-0.942 1.987-0.942s1.462 0.266 1.987 0.749c0.595 0.545 0.727 1.168 0.727 1.926s-0.229 1.472-0.825 2.018z')
    symbol#icon-heart(viewbox='0 0 20 20')
      title heart
      path(d='M16.927 4.369c-1.611-1.478-4.222-1.478-5.833 0l-1.093 1.004-1.094-1.004c-1.611-1.478-4.222-1.478-5.832 0-1.812 1.664-1.812 4.354 0 6.017l6.927 6.357 6.927-6.357c1.811-1.663 1.811-4.354 0-6.017z')
    symbol#icon-magnifying-glass(viewbox='0 0 20 20')
      title magnifying-glass
      path(d='M18.036 15.823l-4.025-4.025c0.607-0.996 0.956-2.167 0.956-3.419 0-3.639-3.154-6.792-6.793-6.792-3.639-0.001-6.588 2.949-6.588 6.588 0 3.638 3.154 6.792 6.792 6.792 1.211 0 2.343-0.329 3.318-0.899l4.046 4.048c0.396 0.395 1.038 0.395 1.434 0l1.004-1.004c0.395-0.395 0.251-0.895-0.144-1.29zM3.614 8.176c0-2.52 2.042-4.562 4.561-4.562 2.52 0 4.765 2.244 4.765 4.765 0 2.519-2.043 4.562-4.562 4.562-2.52-0.001-4.764-2.246-4.764-4.765z')
    symbol#icon-shuffle(viewbox='0 0 20 20')
      title shuffle
      path(d='M14.193 7.278h0.758v2.357l3.283-3.313-3.284-3.314v1.965h-0.758c-3.042 0-4.756 2.254-6.269 4.242-1.36 1.788-2.536 3.334-4.435 3.334h-1.722v2.305h1.723c3.042 0 4.756-2.253 6.269-4.242 1.36-1.789 2.536-3.333 4.435-3.333zM6.221 8.73c0.13-0.167 0.26-0.339 0.393-0.513 0.321-0.423 0.662-0.869 1.031-1.314-1.088-1.016-2.4-1.765-4.155-1.765h-1.723v2.305h1.723c1.093 0 1.945 0.513 2.731 1.288zM14.95 12.712h-0.758c-1.158 0-2.048-0.577-2.874-1.431-0.082 0.108-0.165 0.217-0.25 0.327-0.363 0.478-0.753 0.989-1.185 1.497 1.117 1.090 2.47 1.914 4.308 1.914h0.758v1.974l3.284-3.314-3.284-3.314v2.347z')
