<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title [CSS Animation] Rainbow Spinners
    link(rel="stylesheet", href="style.css")

body
  h1.intro [CSS] Rainbow Spinners
    small async animation

  .box
    .ooo
      each $ in Array(12)
        .axis
          .oo
            .o
            .o

  blockquote.info
    | inspired from 
    a(href="https://beesandbombs.tumblr.com/post/152969884319/beesandbombs-rainbow-spinners") Rainbow Spinners
