<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="style.css")

body.app
  title AI Loader design for Rokid
  h1.intro AI Loader
    small design for Rokid

  .box
    .loader
      .o
      .o
      .o
      .o

  blockquote.info
    | inspired from 
    a(href="https://dribbble.com/shots/3290264-AI-Loader-design-for-Rokid-by-fantasy") AI Loader design for Rokid
    |  by 
    a(href="https://dribbble.com/glebich") Gleb Kuznetsov✈
