body,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



// 背景
.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    z-index: -1;
    background: linear-gradient(#37c9db, #fff, #fff);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(circle, #62912f, #1a4b58 60%);
        opacity: 0;
        transform: scale(1.5);
        transition: opacity .5s, transform 1s;

        .confirm-mode & {
            opacity: 1;
            transform: scale(1);
        }
    }

    img {
        width: 500px;
        margin: -100px -100px 0 0;
        filter: opacity(.2);
    }
}



.pokemon-container {
    position: relative;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    background: radial-gradient(circle, transparent, transparent 60%);
    transition: background .3s;

    &.confirm-mode ~ .btn {
        opacity: 0;
        pointer-events: none;
    }
}



.header {
    height: 165px;
    color: #1e6176;

    .confirm-mode & {
        opacity: 0;
    }

    h1 {
        padding: 50px 0 20px;
    }
    span {
        font-size: 1.2em;
        line-height: 25px;
        vertical-align: text-bottom;
    }
    .info {
        margin-top: 10px;
        font-size: .5em;
        text-transform: uppercase;
    }
}

.pokemon { height: calc(100vh - 315px); }
.footer {
    z-index: 20;
    height: 150px;
}



// 按鈕
.btn-large {
    width: 10em;
    height: 40px;
    margin-top: 10px;
    outline: 0;
    border: 0;
    padding: 0;
    border-radius: 2em;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;

    .confirm-mode & {
        opacity: 1;
        pointer-events: auto;
    }

    &.btn--ok {
        color: #c8fbd5;
        background: linear-gradient(to right, #a4d99a, #33ccaa);
    }

    &.btn--cancel {
        color: #61b7a6;
        background: transparent;
    }
}
.btn {
    position: fixed;
    background-color: #258897;
    bottom: 25px;
    width: 40px;
    height: 40px;
    outline: 0;
    border: 0;
    padding: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #258897, inset 0 0 0 5px #6bd3cd, 0 0 5px 1px #6bd3cd;
    cursor: pointer;

    &.btn-cross {
        left: 50%;
        transform: translate(-50%, 0);
    }

    &.btn-trans {
        right: 30px;
        transform: scale(1.2);
    }
}
