html{
  height: 100%;
}
body{
  background:linear-gradient(gray,black);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title_layout{
  display:block;
  text-align:center;
  padding-top:20px;
  font-size:1em;
  color:brown;
}
.container {
 
}
.circle_layout {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size:50px 50px;
    background-repeat:no-repeat;
    margin: 10px;
    padding: 0px;
    position:relative;
    background-image:url("http://i.imgur.com/FCu223g.png");
    
  
}
.right_down_corner img{
  display:block;
  height:20px;
  width:20px;
  
}
.right_down_corner{
  display:block;
  position:absolute;
  bottom: -10px;
  right:-10px;
}
.container .modal_layout {
    border-color: white;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    width: 300px;
    background:lightgoldenrodyellow;
}
.outer_circle {
  border-style:solid;
  display: inline-block;
  border-color: #1ad1ff;
  border-radius: 50px;
  margin: 10px;
  padding: 0px;
  background-color:#FFF;
}