div {
    text-align: center;
    /* border: 1px solid red; */
}

.btm_bar {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 0px 10px;
    /* height: 50px; */
    /* background-color: #dddddd; */
}

.icon>* {
    display: inline-block;
    float: left;
    width: 20%;
    font-size: 30px;
    line-height: 50px;
    border-right: 1px solid #eeeeee;
    background-color: #dddddd;
    outline: none;
}

.plus {
    height: 50px;
    position: relative;
}

.plus_sw {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    z-index: 1;
}

.h_line {
    position: relative;
    top: calc((100% - 2px)/2);
    width: 30px;
    left: calc((100% - 30px)/2);
    border: 1px solid black;
}

.plus_sw:checked~.v_line {
    /* position: relative; */
    transform: translate(-50%, -200%);
    height: 50px;
    /* width: 300px; */
    width: calc(500% + 5px);
    /* height: 30px; */
    /* width: 2px; */
    /* left: calc((100% - 2px)/2); */
    /* border: 1px solid black; */
    border: 1px solid #eeeeee;
    transition: transform 0.3s, height 0.3s, width 0.3s cubic-bezier(1, .01, .53, .99);
    transition-delay: 0s, 0s, 0.25s;
}

.v_line {
    position: relative;
    top: calc((100% - 4px) / 2);
    height: 30px;
    width: 2px;
    left: calc(100% / 2);
    transform: translate(-50%, -50%);
    border: 1px solid black;
    /* transition: top 0.5s, height 0.5s, width 0.6s cubic-bezier(1,.01,0,1); */
    /* transition-delay: 0s, 0s, 0.5s; */
    transition: transform 0.2s, height 0.2s, border 0.2s, width 0.3s cubic-bezier(1, .01, .53, .99);
    transition-delay: 0.3s, 0.3s, 0.3s, 0s;
    background-color: #eeeeee;
    overflow: hidden;
}

.v_line>* {
    float: left;
    width: calc(100% / 3);
    line-height: 50px;
    transition: all 0.2s;
}

.icon>.fa {
    transition: color 0.2s;
}

.v_line>*:hover,
.icon>.fa:hover {
    color: #aaaaaa;
}

.img {
    width: 100%;
}

body {
    margin: 0px;
    position: relative;
    display: block;
}

div::after {
    content: '';
    display: block;
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}