- var tree_card_num = 16;
- var tree_leaf_num = 3;

.box_tree
  each $,index in Array(tree_card_num)
    .tree
      each $,index in Array(tree_leaf_num)
        .leaf
  .star ★

.year ~2017~
h1 Merry Christmas
h2 By. Gore Wang - 
  a(href="https://www.facebook.com/HappyCSSer/" target="_blank") @HappyCsser