h3{
  margin:0;
}
body,html{
  font-family:Helvetica;
  margin:0;
  padding:0;

}
body{
  background: url('../img/details_type_bg_normal.png');
  background-repeat:no-repeat;
  background-size:cover;
}
ul li{
  list-style:none;
}
.infoWrap {
  width: 100%;
  height: 100%;
  /*background: url('https://github.com/Superviral/Pokemon-GO-App-Assets-and-Images/blob/master/App%20Converted%20Images/details_type_bg_normal.png?raw=true');
  background-repeat:no-repeat;
  background-size:cover;*/
}
.monsterData{
  text-align:center;
  color:#fff;
  height:250px;
  padding-top:30px;
}
.monsterData span{
  font-size:20px; 
}
.monsterData h2{
  display:inline;
  font-size:30px; 
  font-weight:100;
}
.monsterInfo {
  max-width: 500px;
  height: 500px;
  border-radius: 10px;
  margin: auto;
  background: #fafafa;
  text-align:center;
  position: relative;
  vertical-align: top;
}
.circleWrap{
  width:100%;
  max-width:402px;
  margin:5px auto;
  height:200px;
  position:relative;
  overflow:hidden;
}
.circleWrap div{
  width:100%;
  max-width:400px;
  height:400px;
  border:5px solid #fff;
  /*box-shadow:0 0 1px 1px #fff inset;*/
  border-radius:50%;
  position:absolute;
  box-sizing: border-box;
}
.frontCircle{
  opacity:1;
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  z-index:0;
  clip:rect(0px,402px,202px,0px);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.circleWrap:hover .frontCircle{
  transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
}
.frontCircle::after{
  content:"";
  display:inline-block;
  float:right;
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:#fff;
  position:absolute;
  right: -7px;
  top: 48%;
  z-index:2;
}

.backCircle{
  opacity:0.2;
  clip:rect(0px,400px,200px,0px);
}
.pokemon{
  width:150px;
  position: relative;
  margin-top:-100px;
}
.greenWord{
  color:#44696c;
}
.grayWord{
  color:#bac7c8;
  font-size:12px;
}
.grayCircle{
  width:30px;
  height:30px;
  background-color:#ccc;
  border-radius:50% 50%;
  margin:auto;
  text-align:center;
}
.grayCircle:after{
  content:"";
  display:block;
  width:10px;
  height:10px;
  margin:auto;
  border-radius:50% 50%;
  border:2px solid #fff;
  position: relative;
  top:25%;
}
.pokemonLevel{
  width:150px;
  margin:45px auto;
  line-height:1px;
}
.levelBar{
  width:100%;
  height:5px;
  border-radius:2px;
  background-color:#6eedb7;
}
.HP{
  margin-top:10px;
}
.pokemonName{
  position: relative;
}

.pokemonName i{
  position: absolute;
  right:10px;
  top:-10px;
  color:#ccc;
}
.HP{
  font-size:10px;
  color:#879fa1;
}
.pokemonInfo{
  width:calc(100% - 20px);
  margin:auto;
  border-bottom:1px solid #ccc;
  padding-bottom:20px;
}
.infoBox{
  display:inline-block;
  width:30%;
  line-height:;
}
.infoBox:nth-child(2){
  border:1px solid #bac7c8;
  border-top:0;
  border-bottom:0;
}
.itemBox-50{
  display:inline-block;
  width:45%;
  margin-top:20px;
}
.stardust:before{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  background:url("../img/stardust_vector.png");
  background-size:cover;
}

.eeveecandy{
  display:inline-block;
  width:20px;
  height:20px;
  background-color:#cc9962;
  border-radius:50%;
  position:relative;
  margin-right: 6px;
}
.eeveecandy:before{
  content:"";
  width:100%;
  height:100%;
  background-image:url('../img/candy_painted_secondary_color.png');
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;
  left:0;
}
.eeveecandy:after{
  content:"";
   width:100%;
  height:100%;
  background-image:url('../img/candy_painted_highlight.png');
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;
  left:0;
}
.roundBox{
  background-color:#e8f0e1;
  width: calc(100% - 50px);
  height:50px;
  margin:10px auto;
  text-align:left;
  /*border-radius:50% 0 0 50%;*/
}
.upgradeBtn{
  width:30%;
  height:100%;
  /*border-radius:40%;*/
  color:#e8f0e1;
  font-size:16px;
  display:inline-block;
  border:0;
  line-height:2;
  background:linear-gradient(90deg, #a2db95, #24ccaa);
  /*background:#24ccaa;*/
  position:relative;
  left:5px;
}
.upgradeBtn:before{
  content:"";
  display:inline-block;
  height:100%;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: -16px;
  top: 0;
  background-color:#a2db95;
  clip:rect(0px,20px,50px,0px);
}
.upgradeBtn:after{
  content: "";
  display:inline-block;
  height:100%;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top:0;
  right:-18px;
  background-color: #24ccaa;
  clip:rect(0px,40px,50px,20px);
}
.text-right{
  text-align:right;
}
.upgradelist{
  float:right;
  width:60%;
  padding:0;
}
.upgradelist li{
  /*float:left;*/
  display:inline-block;
  font-size:18px;
  width: 48%;
  text-align: left;
}
.confirmBtn{
  position:absolute;
  width:80px;
  height:80px;
  background-image:url('../img/btn_ok_normal_dark.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  margin:auto;
  left:0;
  right:0;
  border:0;
  background-color:transparent;
}
.circleMenuWrap{
  width:80px;
  height:80px;
  position:absolute;
  bottom:10px;
  right:2%;
  background-color:#1c8796;
  border-radius:50%;
  text-align:center;
  line-height:2;
  cursor:pointer;
}
.ic_action{
    width: 82%;
    height: 82%;
    border-radius: 50%;
    background-image: url(../img/ic_action.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #e8f0e1;
    display: inline-block;
    margin-top: 6px;
}