<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="style2.css")

body.app
  title ☷ ☯ ☰ Yin-Yang & Bagua
  h1.intro ☷ ☯ ☰ Yin-Yang & Bagua

  .box
    .wuji
      .bagua
      .bagua
      .bagua
      .bagua
      .bagua
      .bagua
      .bagua
      .bagua

      .yin-yang

  blockquote.info
    | ref: 
    a(href="https://en.wikipedia.org/wiki/Bagua") Yin Yangs & Bagua
