<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="style.css")

body.app
  title [CSS Animation] Yin-Yang ☯
  h1.intro [CSS Animation] Yin-Yang ☯

  .box
    .oo
    .oo.small

  blockquote.info
    | inspired from 
    a(href="https://beesandbombs.tumblr.com/post/117092276494/yin-yangs") Yin Yangs
    |  on 
    a(href="https://beesandbombs.tumblr.com/") bees & bombs
