- var aperture_piece = 6;

#box-aperture
  .box_inner
    .box_aperture
      .aperture
        each $,index in Array(aperture_piece)
          .aperture_piece
          
.box_inspired inspired by 
  a(href="https://dribbble.com/shots/3787986-41-Camera-Aperture")  Eddy Gann
  