<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title [CSS] Two squares / four triangles
    link(rel="stylesheet", href="style.css")

body
  h1.intro [CSS] Two squares / four triangles

  .box
    .o.t.r
    .o.t.l
    .o.b.r
    .o.b.l

  blockquote.info
    | inspired from 
    a(href="https://dribbble.com/shots/3807497-Two-squares-four-triangles") Two squares / four triangles
