.modalConfirm
{
	width: 50%;
	color: $white;
	font-size: 1rem;
	font-weight: 700;
	line-height: 2.5rem;
	background: rgba( 169, 215, 161, 1);
	background: linear-gradient(to right, $confirmLeft 0%, $confirmRight 100%);
	border-radius: 1.5rem;
}