.icon
{
	display: inline-block;
	margin-right: -4px;
	background-position: center center;
	background-repeat: no-repeat;
}

.oriHz
{
	background-size: 100% auto;
}

.oriVt
{
	background-size: auto 100%;
}

.icon
{
	&.pokeball 
	{
		width: 80px;
		height: 80px;
		background-image: url('../assets/icon/pokeball.png');
		border-radius: 50%;
		box-shadow: 0 16px 60px 0 rgba(0,0,0,0.75);
	}
	&.potion
	{
		vertical-align: middle;
		width: 50px;
		height: 50px;
		background-image: url('../assets/icon/potion.png');
	}
	&.food
	{
		vertical-align: middle;
		width: 50px;
		height: 50px;
		background-image: url('../assets/icon/food.png');
	}
}
