.icon
{
	display: inline-block;
	margin-right: -4px;
	background-position: center center;
	background-repeat: no-repeat;
}

.oriHz
{
	background-size: 100% auto;
}

.oriVt
{
	background-size: auto 100%;
}

.icon
{
	&.pokeball 
	{
		width: 80px;
		height: 80px;
		background-image: url('../assets/icon/pokeball.png');
		// box-shadow: 0 18px 50px 0 rgba(0,0,0,0.75);
	}
}
