<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Christmas Tree
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel="stylesheet", href="style.css")
body
    - var layers = 14;
    - var n = layers;

    .tree
    while n--
        .layer
    .star

    .note
    span inspired by 
    a(href="https://tw.stockfresh.com/image/4990206") Christmas Tree Geometric Pyramid with Gifts
    span  by 
    a(href="https://tw.stockfresh.com/gallery/gubh83") GUBH83
