<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bird Loader
    link(rel="stylesheet", href="style.css")

body
  h1.intro Bird Loader

  .box
    .bird-loader
      .mouth-down
      .hair
      .face
      .eye
      .mouth-up

  blockquote.info
    | inspired from 
    a(href="https://dribbble.com/royveldkamp") Roy Veldkamp
    | 's 
    a(href="https://dribbble.com/shots/2030551-Bird-Loader") Bird Loader
