header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  font-size: 5vmin;
  margin: 9.5vmin 0;
  transition: 0.3s ease-out;
  span.title {
    font-size: 4vmin;
  }
}
