<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title [CSS Switcher] Toggle
    link(rel="stylesheet", href="style.css")

body
  h1.intro [CSS Switcher] Toggle
    small click to toggle

  .box
    input.sr-only.checkbox(type="checkbox" id="checkbox" checked)
    label.label(for="checkbox")
      .head
        .face
          .face__smile
          .face__sleep

  blockquote.info
    | inspired from 
    a(href="https://dribbble.com/shots/4318035-Toggle") https://dribbble.com/shots/4318035-Toggle
