<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Module Interaction
    link(rel="stylesheet", href="style.css")

body
  h1.intro Module Interaction

  .box
    .Card
      .detail--ctrl
        a.ctrl.ctrl--toggle X
        a.ctrl.ctrl--next >
        a.ctrl.ctrl--prev(disabled) <
      .detail--wrapper
        .detail
          p qwe11esds
          p asdasd
          a.action-btn add to cart

      .summary
        .img
        .infos
          h2.title Casual Vests
          .metaInfo
            .metaInfo__item(data-icon="☗") 24
            .metaInfo__item(data-icon="❤") 13

  blockquote.info
    | inspired from 
    a(href="https://dribbble.com/SamuelATX") ⋈ Sam Thibault ⋈
    | 's 
    a(href="https://dribbble.com/shots/1841058-Module-Interaction") Module Interaction
