<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title [CSS Animation] CORE music // logo design
    link(rel="stylesheet", href="style.css")

body
  h1.intro [CSS Animation] CORE music
    small click to restart

  .box
    .logo
      .char.C
      .char.O
      .char.R
      .char.E

  blockquote.info
    | inspired from 
    a(href="https://dribbble.com/shots/3957788-CORE-music-logo-design") CORE music // logo design
