<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Facebook comments layout
    link(rel="stylesheet", href="style.css")

body
  .indicator
    .reaction
      .ooo
        .o
        .o
        .o
        .o
      a 1,721
    .more-info
      .comment
        a 87留言
      .share
        a 237次分享
