body {
  background: #000;
}
#container {
  background: linear-gradient(90deg, lightgreen,gray);
  height:740px;
  width: 400px;
  margin:0 auto;
  border-radius:5px;
  display: block;
}
#top_bar {
 width: 380px;
 height: 30px;
 margin: 0px 20px;
 padding-top: 20px;
 display:inline-block;
}
#search_icon{
  text-align:center;
  vertical-align:+15%;
}
#title{
  width:320px;
  display:inline-block;
  color:#FFF;
  vertical-align:+15%;
  font-size:20px;
  text-align:center;
}
#movie_content {
  width: 360px;
  height: 524px;
  margin-left: 20px;
  margin-right:20px;
  margin-top: 10px;
  background: #FFF;
}
#movie_background {
  width: 360px;
  height: 380px;
  background:url("http://i.imgur.com/f5ICxdc.jpg");
  background-size:cover;
}
#movie_text{
  width: 360px;
  height: 144px;
  text-align:center;
}

#action_button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  line-height:40px;
  width: 300px;
  background: lightblue;
  color: white;
  border-radius: 5px;
  vertical-align: -16%;
  margin-top: -40px;
}

.navigator_point{
 border-radius:50%;
 height: 11px;
 width: 11px;
 line-height:11px;
 color:gray;
}
#slider{
  height: 100px;
  width: 360px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align:center;
}
.nav_point{
  border-radius: 50%;
  height: 11px;
  width: 11px;
  line-height:11px;
  display: inline-block;
  margin-left: 10px ;
  margin-right: 10px;
  background-color:gray;
}

.active{
  background-color: blue;
}